body {
    background-color: #eee;
}
.bg-light {
    background-color: #f3f3f3 !important;
    opacity: 0.8;
}
.main {
    top: -200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    background-color: white;
    border: solid 1px #ddd;
    position: relative;
    margin: 50px auto;
    padding: 50px;
    position: relative;
   /* top: -100px;*/
    max-width: 1000px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}


@media (max-width: 768px) {
  .main {
    border-radius: 0px;
    margin-top: 30px;
  }
}